@use '../../variables.scss' as var;

.categories {
  display: grid;
  gap: var.$spacing-4;

  @media (width > var.$screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width > var.$screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width > var.$screen-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.empty-set {
  grid-column: span 1;

  @media (width > var.$screen-md) {
    grid-column: span 2;
  }

  @media (width > var.$screen-lg) {
    grid-column: span 3;
  }

  @media (width > var.$screen-xl) {
    grid-column: span 4;
  }
}
