@if (viewState !== 'ready') {
  <components-loading-view view="categories" [state]="viewState"></components-loading-view>
} @else {
  <main class="bottom-gap">
    <h2 class="inline-flex-aligned mb-0">
      <mat-icon svgIcon="trending-up" class="mr-2"></mat-icon>
      Income Categories
    </h2>
    <hr />
    <div class="categories my-3">
      @for (category of incomeCategories; track category.uuid) {
        <components-category-card
          [category]="category"
          (edit)="openEditCategoryDialog($event)"
          (delete)="openDeleteCategoryDialog($event)"
        >
        </components-category-card>
      } @empty {
        <h3 class="text-center empty-set">There are no categories currently created.</h3>
      }
    </div>
    <h2 class="inline-flex-aligned mb-0">
      <mat-icon svgIcon="trending-down" class="mr-2"></mat-icon>
      Expense Categories
    </h2>
    <hr />
    <div class="categories my-3">
      @for (category of expenseCategories; track category.uuid) {
        <components-category-card
          [category]="category"
          (edit)="openEditCategoryDialog($event)"
          (delete)="openDeleteCategoryDialog($event)"
        >
        </components-category-card>
      } @empty {
        <h3 class="text-center empty-set">There are no categories currently created.</h3>
      }
    </div>
  </main>
}

<div class="bottom-actions">
  <button mat-fab class="mr-3" (click)="openCreateCategoryDialog()">
    <mat-icon svgIcon="plus"> </mat-icon>
  </button>
</div>

<components-notification></components-notification>
<components-error-dialog></components-error-dialog>
<components-loading-dialog></components-loading-dialog>
