<main>
  <h2 class="inline-flex-aligned mb-0">
    <mat-icon svgIcon="trending-up" class="mr-2"></mat-icon>
    Income
  </h2>
  <hr />
  <div class="categories my-3">
    @for (category of incomeCategories; track category.uuid) {
    <categories-components-category-card [category]="category"> </categories-components-category-card>
    } @empty { }
  </div>
  <h2 class="inline-flex-aligned mb-0">
    <mat-icon svgIcon="trending-down" class="mr-2"></mat-icon>
    Expense
  </h2>
  <hr />
  <div class="categories my-3">
    @for (category of expenseCategories; track category.uuid) {
    <categories-components-category-card [category]="category"> </categories-components-category-card>
    } @empty { }
  </div>
</main>

<div class="bottom-actions">
  <button mat-fab class="mr-3" (click)="openCreateCategoryDialog()">
    <mat-icon svgIcon="plus"> </mat-icon>
  </button>
</div>
