<mat-card class="mt-4">
  <mat-card-content class="py-2 px-0">
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>
          <span class="code"> {{ defaultCurrency?.code }} </span>
          {{ defaultCurrency?.name }}
        </div>
        <div matListItemLine class="flex-aligned mt-2 ml-1">Default Currency</div>
        <div matListItemMeta>
          <button mat-icon-button class="mt-3" (click)="edit.emit(defaultCurrency)">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>
          <button mat-icon-button class="mt-3" (click)="swap.emit()">
            <mat-icon svgIcon="swap-horizontal"></mat-icon>
          </button>
        </div>
      </mat-list-item>
      <hr class="mx-4" />
      @for (currency of currencies; track currency.uuid) {
      <mat-list-item>
        <div matListItemTitle>
          <span class="code"> {{ currency.code }} </span>
          {{ currency.name }}
        </div>
        <div matListItemLine class="flex-aligned mt-2 ml-1">
          1 {{ defaultCurrency?.code }}
          <mat-icon svgIcon="swap-horizontal" class="mx-1"></mat-icon>
          @if (currency.exchangeRate > 1000) {
          {{ currency.exchangeRate | number : '1.2-2' }}
          } @else {
          {{ currency.exchangeRate | number : '1.2-6' }}
          }
          {{ currency.code }}
        </div>
        <div matListItemMeta>
          <button mat-icon-button class="mt-3" (click)="edit.emit(currency)">
            <mat-icon svgIcon="pencil"></mat-icon>
          </button>
          <button mat-icon-button class="mt-3" (click)="delete.emit(currency)">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>
        </div>
      </mat-list-item>
      } @empty {
      <h3 class="text-center mt-5">No secondary currencies created.</h3>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
