<main>
  <div>
    <h1 class="inline-flex-aligned justify-center w-100">
      <mat-icon [svgIcon]="APP_PROPERTIES.icon" class="mr-3 icon-lg"> </mat-icon>
      {{ APP_PROPERTIES.title }}
    </h1>
    <mat-card>
      <mat-card-header class="justify-center">
        <mat-card-title class="inline-flex-aligned">
          <mat-icon svgIcon="account-plus" class="mr-2"> </mat-icon>
          Register
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" class="mt-3 mb-2 form" (keydown.enter)="register()" tabindex="0">
          <mat-form-field appearance="outline" color="accent" class="mat-form-field">
            <mat-label> Name </mat-label>
            <input matInput type="text" placeholder="Name..." formControlName="name" />
            <mat-icon matPrefix svgIcon="account"> </mat-icon>
            <mat-error class="mat-error" *ngIf="form.get('name')?.hasError('required')">
              Name is required
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('name')?.hasError('minlength')">
              Name must be at least 3 characters long
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('name')?.hasError('maxlength')">
              Name must be at most 100 characters long
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent" class="mat-form-field">
            <mat-label> Email </mat-label>
            <input matInput type="text" placeholder="Email..." formControlName="email" />
            <mat-icon matPrefix svgIcon="email"> </mat-icon>
            <mat-error class="mat-error" *ngIf="form.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('email')?.hasError('email')">
              Email is invalid
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('email')?.hasError('maxLength')">
              Email must be at most 320 characters long
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent" class="mat-form-field password-field">
            <mat-label> Password </mat-label>
            <input
              matInput
              [type]="passwordInputType"
              placeholder="Password..."
              formControlName="password"
            />
            <mat-icon matPrefix svgIcon="lock"> </mat-icon>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon [svgIcon]="passwordInputType === 'password' ? 'eye' : 'eye-off'">
              </mat-icon>
            </button>
          </mat-form-field>
          <div class="text-muted">
            <mat-progress-bar mode="determinate" color="accent" [value]="passwordStrength">
            </mat-progress-bar>
            <p class="mt-2 mb-1 ml-2 password-hint" [class.text-accent]="passwordStrength === 100">
              Password must include:
            </p>
            <p
              [class.text-accent]="
                form.get('password')!.value && !form.get('password')!.hasError('minlength')
              "
              class="flex-aligned my-0 py-0 ml-1"
            >
              @if (form.get('password')!.value && !form.get('password')!.hasError('minlength')) {
                <mat-icon svgIcon="check"> </mat-icon>
              } @else {
                <mat-icon svgIcon="minus"> </mat-icon>
              }
              At least 10 characters
            </p>
            <p
              [class.text-accent]="
                form.get('password')!.value && !form.get('password')!.hasError('hasNumber')
              "
              class="flex-aligned my-0 py-0 ml-1"
            >
              @if (form.get('password')!.value && !form.get('password')!.hasError('hasNumber')) {
                <mat-icon svgIcon="check"> </mat-icon>
              } @else {
                <mat-icon svgIcon="minus"> </mat-icon>
              }
              At least one number
            </p>
            <p
              [class.text-accent]="
                form.get('password')!.value && !form.get('password')!.hasError('hasUppercase')
              "
              class="flex-aligned my-0 py-0 ml-1"
            >
              @if (form.get('password')!.value && !form.get('password')!.hasError('hasUppercase')) {
                <mat-icon svgIcon="check"> </mat-icon>
              } @else {
                <mat-icon svgIcon="minus"> </mat-icon>
              }
              At least one uppercase letter
            </p>
            <p
              [class.text-accent]="
                form.get('password')!.value && !form.get('password')!.hasError('hasLowercase')
              "
              class="flex-aligned my-0 py-0 ml-1"
            >
              @if (form.get('password')!.value && !form.get('password')!.hasError('hasLowercase')) {
                <mat-icon svgIcon="check"> </mat-icon>
              } @else {
                <mat-icon svgIcon="minus"> </mat-icon>
              }
              At least one lowercase letter
            </p>
            <p
              [class.text-accent]="
                form.get('password')!.value &&
                !form.get('password')!.hasError('hasSpecialCharacter')
              "
              class="flex-aligned my-0 py-0 ml-1"
            >
              @if (
                form.get('password')!.value &&
                !form.get('password')!.hasError('hasSpecialCharacter')
              ) {
                <mat-icon svgIcon="check"> </mat-icon>
              } @else {
                <mat-icon svgIcon="minus"> </mat-icon>
              }
              At least one special character
            </p>
          </div>
          <mat-form-field appearance="outline" color="accent" class="mat-form-field">
            <mat-label> Confirm Password </mat-label>
            <input
              matInput
              [type]="passwordInputType"
              placeholder="Password confirmation..."
              formControlName="confirmPassword"
            />
            <mat-icon matPrefix svgIcon="lock-check"> </mat-icon>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon [svgIcon]="passwordInputType === 'password' ? 'eye' : 'eye-off'">
              </mat-icon>
            </button>
            <mat-error class="mat-error" *ngIf="form.get('confirmPassword')?.hasError('required')">
              Confirmation is required
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('confirmPassword')?.hasError('minlength')">
              Confirmation must be at least 10 characters long
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('confirmPassword')?.hasError('maxlength')">
              Confirmation must be at most 100 characters long
            </mat-error>
            <mat-error class="mat-error" *ngIf="form.get('confirmPassword')?.hasError('hasNumber')">
              Confirmation must contain at least one number
            </mat-error>
            <mat-error
              class="mat-error"
              *ngIf="form.get('confirmPassword')?.hasError('hasUppercase')"
            >
              Confirmation must contain at least one uppercase letter
            </mat-error>
            <mat-error
              class="mat-error"
              *ngIf="form.get('confirmPassword')?.hasError('hasLowercase')"
            >
              Confirmation must contain at least one lowercase letter
            </mat-error>
            <mat-error
              class="mat-error"
              *ngIf="form.get('confirmPassword')?.hasError('hasSpecialCharacter')"
            >
              Confirmation must contain at least one special character
            </mat-error>
            <mat-error
              class="mat-error"
              *ngIf="form.get('confirmPassword')?.hasError('passwordMatch')"
            >
              Confirmation must match password
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="register()">
          <mat-icon svgIcon="account-plus"> </mat-icon>
          Register
        </button>
        <button mat-button class="ml-2" routerLink="/login">
          <mat-icon svgIcon="login"> </mat-icon>
          Already have an account?
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>

<components-error-dialog></components-error-dialog>
<components-loading-dialog></components-loading-dialog>
<components-notification></components-notification>
