<h2 mat-dialog-title class="mat-dialog-title">
  <mat-icon svgIcon="shape" class="mr-2"> </mat-icon>
  Create category
  <div class="flex-spacer"></div>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon svgIcon="close"> </mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="py-2 form" (keydown.enter)="createCategory()" tabindex="0">
    <mat-form-field appearance="outline" color="accent" class="mat-form-field">
      <mat-label> Name </mat-label>
      <input matInput type="text" placeholder="Name..." formControlName="name" />
      <mat-icon matPrefix svgIcon="rename"> </mat-icon>
      <mat-error class="mat-error" *ngIf="form.get('name')?.hasError('required')">
        Name is required
      </mat-error>
      <mat-error class="mat-error" *ngIf="form.get('name')?.hasError('minlength')">
        Name must be at least 3 characters long
      </mat-error>
      <mat-error class="mat-error" *ngIf="form.get('name')?.hasError('maxlength')">
        Name must be at most 50 characters long
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="mat-form-field">
      <mat-label> Type </mat-label>
      <mat-select formControlName="type">
        @for (type of options.type; track type) {
          <mat-option [value]="type"> {{ type }} </mat-option>
        }
      </mat-select>
      <mat-icon matPrefix svgIcon="list-box-outline"> </mat-icon>
      <mat-error class="mat-error" *ngIf="form.get('type')?.hasError('required')">
        Type is required
      </mat-error>
      <mat-error class="mat-error" *ngIf="form.get('type')?.hasError('categoryType')">
        Type is invalid
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions">
  <button mat-button color="basic" (click)="closeDialog()">
    <mat-icon svgIcon="close"> </mat-icon>
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="createCategory()">
    <mat-icon svgIcon="plus"> </mat-icon>
    Create
  </button>
</mat-dialog-actions>
