<nav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <a mat-button routerLink="/" class="brand">
      <mat-icon svgIcon="piggy-bank" class="icon-lg pb-2 pr-1"></mat-icon>
      <span>{{ APP_PROPERTIES.title }}</span>
    </a>
    <span class="flex-spacer"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon svgIcon="account-circle"> </mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item>
        <mat-icon svgIcon="cog"></mat-icon>
        Settings
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon svgIcon="logout"></mat-icon>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>

<shared-components-error-dialog></shared-components-error-dialog>
<shared-components-loading-dialog></shared-components-loading-dialog>
