<h2 mat-dialog-title class="mat-dialog-title">
  <mat-icon svgIcon="cash-multiple" class="mr-2"> </mat-icon>
  Edit currency
  <div class="flex-spacer"></div>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon svgIcon="close"> </mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="py-2 form" (keydown.enter)="editCurrency()" tabindex="0">
    <mat-form-field appearance="outline" color="accent" class="mat-form-field">
      <mat-label> Name </mat-label>
      <input matInput type="text" placeholder="Name..." formControlName="name" />
      <mat-icon matPrefix svgIcon="cash"> </mat-icon>
      @if (form.get('name')?.hasError('required')) {
      <mat-error class="mat-error"> Name is required </mat-error>
      } @if (form.get('name')?.hasError('minlength')) {
      <mat-error class="mat-error"> Name must be at least 3 characters long </mat-error>
      } @if (form.get('name')?.hasError('maxlength')) {
      <mat-error class="mat-error"> Name must be at most 50 characters long </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="mat-form-field">
      <mat-label> Code </mat-label>
      <input matInput type="text" placeholder="Code..." formControlName="code" />
      <mat-icon matPrefix svgIcon="barcode"> </mat-icon>
      @if (form.get('code')?.hasError('required')) {
      <mat-error class="mat-error"> Code is required </mat-error>
      } @if (form.get('code')?.hasError('minlength')) {
      <mat-error class="mat-error"> Code must be at least 3 characters long </mat-error>
      } @if (form.get('code')?.hasError('maxlength')) {
      <mat-error class="mat-error"> Code must be at most 3 characters long </mat-error>
      }
    </mat-form-field>
    @if (data.defaultCurrency.uuid !== data.currency.uuid) {
    <mat-form-field appearance="outline" color="accent" class="mat-form-field">
      <mat-label> Exchange Rate </mat-label>
      <input
        matInput
        type="text"
        placeholder="Exchange Rate..."
        formControlName="exchangeRate"
        currencyFormatter
      />
      <mat-icon matPrefix svgIcon="swap-horizontal"> </mat-icon>
      @if (form.get('exchangeRate')?.hasError('required')) {
      <mat-error class="mat-error"> Exchange Rate is required </mat-error>
      } @if (form.get('exchangeRate')?.hasError('min')) {
      <mat-error class="mat-error"> Exchange Rate must be at least 0.0001 </mat-error>
      }
      <mat-hint>
        1 {{ data.defaultCurrency.code }} is equal to @if (form.get('code')?.value &&
        form.get('exchangeRate')?.value) {
        {{ form.get('exchangeRate')?.value }}
        {{ form.get('code')?.value }}
        }
      </mat-hint>
    </mat-form-field>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions">
  <button mat-button color="basic" (click)="closeDialog()">
    <mat-icon svgIcon="close"> </mat-icon>
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="editCurrency()">
    <mat-icon svgIcon="pencil"> </mat-icon>
    Edit
  </button>
</mat-dialog-actions>
