@use './variables.scss' as var;

html,
body {
  height: 100%;
  background-color: var(--mat-sidenav-content-background-color);
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-spacer {
  flex: 1 1 auto;
}

.v-align-middle {
  vertical-align: middle;
}

.mr-5 {
  margin-right: var.$spacing-5;
}

.mr-4 {
  margin-right: var.$spacing-4;
}

.mr-3 {
  margin-right: var.$spacing-3;
}

.mr-2 {
  margin-right: var.$spacing-2;
}

.mr-1 {
  margin-right: var.$spacing-1;
}

.ml-5 {
  margin-left: var.$spacing-5;
}

.ml-4 {
  margin-left: var.$spacing-4;
}

.ml-3 {
  margin-left: var.$spacing-3;
}

.ml-2 {
  margin-left: var.$spacing-2;
}

.ml-1 {
  margin-left: var.$spacing-1;
}

.mt-5 {
  margin-top: var.$spacing-5;
}

.mt-4 {
  margin-top: var.$spacing-4;
}

.mt-3 {
  margin-top: var.$spacing-3;
}

.mt-2 {
  margin-top: var.$spacing-2;
}

.mt-1 {
  margin-top: var.$spacing-1;
}

.mb-5 {
  margin-bottom: var.$spacing-5;
}

.mb-4 {
  margin-bottom: var.$spacing-4;
}

.mb-3 {
  margin-bottom: var.$spacing-3;
}

.mb-2 {
  margin-bottom: var.$spacing-2;
}

.mb-1 {
  margin-bottom: var.$spacing-1;
}

.ma-1 {
  margin: var.$spacing-1;
}

.ma-2 {
  margin: var.$spacing-2;
}

.ma-3 {
  margin: var.$spacing-3;
}

.ma-4 {
  margin: var.$spacing-4;
}

.ma-5 {
  margin: var.$spacing-5;
}
