@use './variables.scss' as var;
@use './fonts.scss' as font;
@use './utilities.scss' as util;

html,
body {
  height: 100%;
  background-color: var(--mat-sidenav-content-background-color);
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.form {
  display: grid;
  row-gap: var.$spacing-4;
}

.mat-error {
  display: none !important;
}

.mat-form-field .mat-error:first-child {
  display: block !important;
}

.mat-dialog-title {
  display: inline-flex !important;
  align-items: center;
  padding: var.$spacing-2 var.$spacing-1 var.$spacing-2 var.$spacing-3 !important;
}

.mat-dialog-actions,
.mat-card-actions {
  padding: 0 var.$spacing-4 var.$spacing-2 var.$spacing-3 !important;
}
